.father {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}

.movie {
  display: flex;
  margin: 4px solid red;
  border: 4px solid red;
}
article {
  padding-left: 20px
}
img{
  height: 300px;
  width: 250px
}

.name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7.5px;
  width: 100%
}
p{
  font-family: fantasy;
  font-size: 13px;
}
